{{- $secretName := "minecraft-admin-secret" -}}
{{- $existingSecret := (lookup "v1" "Secret" .Release.Namespace $secretName) -}}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
type: Opaque
data:
  # Generates a persistent 16-character password on first install
  password: {{ if $existingSecret }}{{ index $existingSecret.data "password" }}{{ else }}{{ randAlphaNum 16 | b64enc }}{{ end }}